<div class="content">
  <h1>Application Météo</h1>
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <input
          matInput
          [(ngModel)]="cityName"
          placeholder="Entrez le nom de la ville"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getWeather(cityName)">
        Obtenir la météo
      </button>
    </mat-card-content>
  </mat-card>
  <div *ngIf="weatherData" class="weather-data">
    <h2>Météo actuelle à {{ cityName }}</h2>
    <p>Température: {{ weatherData.current.temp }}°C</p>
    <p>Météo: {{ weatherData.current.weather[0].description }}</p>
    <div class="forecast-section">
      <h3>Prévisions horaires</h3>
      <div *ngFor="let hour of weatherData.hourly" class="forecast-item">
        <p>{{ hour.dt * 1000 | date : "shortTime" }}</p>
        <p>{{ hour.temp }}°C</p>
        <p>{{ hour.weather[0].description }}</p>
      </div>
    </div>
    <div class="forecast-section">
      <h3>Prévisions hebdomadaires</h3>
      <div *ngFor="let day of weatherData.daily" class="forecast-item">
        <p>{{ day.dt * 1000 | date : "fullDate" }}</p>
        <p>{{ day.temp.day }}°C</p>
        <p>{{ day.weather[0].description }}</p>
      </div>
    </div>
  </div>
</div>
